html, body {
  height: 100%;
  margin: 0;
}

body.logged-in{
	/*background: #ddd;*/
	margin-top: -32px;
}

.menu .sf-with-ul{
	background: none !important;
}

.home-wrap{
	max-width: 740px;
	/*margin-bottom: 20px;*/
	/*background: #efefef;*/
	/*padding: 25px;*/
	float: left;
	/*display: none;*/
	margin-top: 50px;
}

.gif{
	width: 100%;
	/*margin: 0 10%;*/
	height: auto;
	margin-bottom: 25px;
}

#container{
	/*background: red !important;*/
	min-height: 100%;
	padding-bottom: 90px;
	/*text-align: left;*/
}

#main{
	/*background: red;*/
	/*min-height: 100%;*/
/*	max-width: 700px;
	float: left;*/
}

.standard{
	max-width: 700px;
	float: left;
}

#footer {
	/*padding-top: 50px;*/
  height: 60px;
  margin-top: -90px !important;
  /*background: black;*/
  clear: both;
  /*float: left;*/
  /*max-width: 700px !important;*/
  /*padding: 50px;*/
  
}

.footer-content{
	margin-top: 60px;
	padding: 0;
	/*padding-left: 12px;*/
}

img.size-full{
	max-width: 640px;
}

.outer{
	max-width: 640px;
	margin-bottom: 25px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-bottom: 70%;
	padding-top: 25px;
	height: 0;
	/*max-width: 720px;*/
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* BANDCAMP */

.band{
	display: inline-block;
	width: 300px;
	margin-bottom: 25px;
}

.bc{
	border: 0;
	width: 250px;
	height: 250px;
}

/* MENU */

h1.site-title{
	max-width: 180px;
	line-height: 32px;
}

h1.site-title:hover{
	text-decoration: underline;
}

/*li.menu-item > a{
	color: red !important;
}*/

li.menu-item{

}

.menu-item a {
	color: #000 !important;
	/*display: block;
	background: blue;*/
/*	width:100%;
	height: 100%;*/
	border-bottom: 1px solid transparent;

}



@media (min-width: 768px){
	#menu-primary.menu-container > .menu{
		/*padding-left: 0 !important;*/
		/*background: green;*/
		float: left;
	}

	#menu-primary{
		float: left !important;
		max-width: 450px;	
	}

	#branding{
		width: 25% !important;
	}
	
}

@media (min-width: 960px){
	#branding{
		width: 20% !important;
	}
}



li.menu-item{
	/*background: red;*/
	/*border: 1px solid black;*/
	/*text-align: right;*/
/*	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
	margin-left: 0;*/
}

li.menu-item a,
li.menu-item-has-children{
	/*background: blue !important;*/
	/*max-width: 25px;*/
	padding-right: 0 !important;
	/*padding-left: 0 !important;*/
}

/*.menu-item a &:hover .submenu{
		color: green;
}

.menu-item &:hover > a{
	color: red;
}*/

.menu-item a:hover{
	color: #FF41AF !important;
	border-bottom: 1px solid black;
}

/*.menu-item:hover > a {
	background: blue;
}*/

.sub-menu > .menu-item a:hover{
	color: #FF41AF !important;
	border-bottom: 1px solid transparent;
	width: auto !important;
	display: inline;
	/*background: blue;*/
	/*text-shadow: 2px 2px black;*/
	text-decoration: underline;
	text-decoration-color: black;
}

/*.sub-menu > .menu-item > a:hover{
	background: green;
}*/

.sub-menu > .menu-item {
	/*background: green;*/
	/*max-width: 50px;*/
	/*max-height: 25px;*/
	/*padding: 0;*/
}

/*.menu-item:hover .menu-item a{
	background: orange !important;
}*/

/*#menu-primary li a{
	color: green;
}*/

/* Video Gallery */

.video-element_1 .image-block_1 img:hover{
	cursor: pointer !important;
}

@media(max-width: 959px){
	.footer-content{
		/*background: red;*/
		max-width: 728px;
		margin: 0 auto;
		padding-top: 50px;
	}
}

@media(max-width: 767px){
	.footer-content{
		max-width: 300px;
		/*background: red;*/
		padding-top: 75px;
	}

	#footer{
		/*padding-top: 150px;*/
	}
}
