html, body {
  height: 90%;
  margin: 0;
}

body.logged-in{
	margin-top: -32px;
}

p{
	margin-bottom: 1em !important;
}

#header{
	margin-bottom: 25px !important;
}

.menu .sf-with-ul{
	background: none !important;
}

.home-wrap{
	max-width: 740px;
	float: left;
	margin-top: 0px;
}

.gif{
	width: 100%;
	height: auto;
	margin-bottom: 25px;
}

#container{
	min-height: 100%;
	padding-bottom: 90px;
}

.standard{
	max-width: 640px;
	float: left;
}

#footer {
  height: 80px;
  margin-top: -60px !important; /* was -90px */
  clear: both;
}

.footer-content{
	margin-top: 70px;
	padding: 0;
}

img.size-full{
	max-width: 640px;
}

.outer{
	width: 640px;
	margin-bottom: 25px;
}

@media(max-width: 767px){
	.outer{
		width: 300px;
	}
}

/*.outer-special{
	width: 640px;
}*/

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-bottom: 70%;
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* BANDCAMP */

.band{
	display: inline-block;
	width: 300px;
	margin-bottom: 25px;
}

.bc{
	border: 0;
	width: 250px;
	height: 250px;
}

/* MENU */

h1.site-title{
	max-width: 180px;
	line-height: 30px;
}

h1.site-title:hover{
	text-decoration: underline;
}

li.menu-item{

}

.menu-item a {
	color: #000 !important;
	border-bottom: 1px solid transparent;
}



@media (min-width: 768px){
	#menu-primary.menu-container > .menu{
		float: left;
	}

	#menu-primary{
		float: left !important;
		max-width: 450px;	
	}

	#branding{
		width: 25% !important;
	}
	
}

@media (min-width: 960px){
	#branding{
		width: 20% !important;
	}
}

li.menu-item a,
li.menu-item-has-children{
	padding-right: 0 !important;
}

.menu-item a:hover{
	color: #FF41AF !important;
}

.sub-menu > .menu-item a:hover{
	color: #FF41AF !important;
	width: auto !important;
	display: inline;
	text-decoration: none;
	text-decoration-color: black;
}

.copyright a:hover{
	color: #FF41AF !important;
}

/* Video Gallery */

.video-element_1 .image-block_1 img:hover{
	cursor: pointer !important;
}

@media(max-width: 959px){
	.footer-content{
		max-width: 728px;
		margin: 0 auto;
		padding-top: 50px;
	}
}

@media(max-width: 767px){
	.footer-content{
		max-width: 300px;
		padding-top: 75px;
	}
}
